flows.json
[{"id":"62a9f9ee.03fa08","type":"subflow","name":"Iterate","info":"","category":"","in":[{"x":220,"y":219,"wires":[{"id":"5623e9e3.430198"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"5623e9e3.430198","port":0}]},{"x":455,"y":259,"wires":[{"id":"5623e9e3.430198","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"5623e9e3.430198","type":"function","z":"62a9f9ee.03fa08","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"7fc46a8f.2141b4","type":"tab","label":"Controllo batterie","disabled":false,"info":""},{"id":"74979c13.56c264","type":"catch","z":"7fc46a8f.2141b4","name":"","scope":null,"uncaught":false,"x":120,"y":780,"wires":[["d3877957.7b4688"]]},{"id":"46eeae56.671ba","type":"api-call-service","z":"7fc46a8f.2141b4","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone","entityId":"","data":"{\"message\" : \"ERRORE Controllo batterie: {{{payload}}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":780,"wires":[[]]},{"id":"3ece8c1a.308054","type":"comment","z":"7fc46a8f.2141b4","name":"Gestione errori da gestire","info":"","x":190,"y":700,"wires":[]},{"id":"d3877957.7b4688","type":"change","z":"7fc46a8f.2141b4","name":"","rules":[{"t":"set","p":"object","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":780,"wires":[["6c801b04.26b194"]]},{"id":"6c801b04.26b194","type":"change","z":"7fc46a8f.2141b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(object[0].message)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":780,"wires":[["46eeae56.671ba"]]},{"id":"686183e9966d68ec","type":"inject","z":"7fc46a8f.2141b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"10 21 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":250,"y":40,"wires":[["6bcdc56e069ff3a4"]]},{"id":"ce8ded5c043ba7b8","type":"ha-get-entities","z":"7fc46a8f.2141b4","server":"33257e95.f185a2","name":"","rules":[{"property":"entity_id","logic":"is","value":"_battery$","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":210,"y":200,"wires":[["4bb23685bd6d6ffe"]]},{"id":"4bb23685bd6d6ffe","type":"subflow:62a9f9ee.03fa08","z":"7fc46a8f.2141b4","name":"Iterate","env":[],"x":210,"y":280,"wires":[["fd1c45aac0b58ed4"],[]]},{"id":"fd1c45aac0b58ed4","type":"change","z":"7fc46a8f.2141b4","name":"Set battery level","rules":[{"t":"set","p":"state","pt":"msg","to":"payload[0].state","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["4bb23685bd6d6ffe","cabab985b9dcbaf9"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"cabab985b9dcbaf9","type":"switch","z":"7fc46a8f.2141b4","name":"","property":"payload.attributes.battery","propertyType":"msg","rules":[{"t":"lt","v":"low_level","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":520,"wires":[["de25190c52a78837"]]},{"id":"de25190c52a78837","type":"switch","z":"7fc46a8f.2141b4","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"neq","v":"input_number.notitica_low_battery","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":520,"wires":[["bce776be449e07f4"]]},{"id":"ad789f8a18524441","type":"api-call-service","z":"7fc46a8f.2141b4","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone","entityId":"","data":"{\"message\":\"Entita {{{payload.entity_id}}} - Batteria inferiore a {{{low_level}}}% \"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":540,"wires":[[]]},{"id":"6bcdc56e069ff3a4","type":"api-current-state","z":"7fc46a8f.2141b4","name":"Valore impostato per low battery","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"input_number.notitica_low_battery","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":80,"wires":[["58791cf94abb0676"],[]]},{"id":"58791cf94abb0676","type":"change","z":"7fc46a8f.2141b4","name":"Set battery low level","rules":[{"t":"set","p":"low_level","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":80,"wires":[["ce8ded5c043ba7b8"]],"outputLabels":["msg.minuti_riscaldamento"]},{"id":"bce776be449e07f4","type":"switch","z":"7fc46a8f.2141b4","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"neq","v":"sensor.ups_battery","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":560,"wires":[["ad789f8a18524441"]]},{"id":"d409155898f914b9","type":"comment","z":"7fc46a8f.2141b4","name":"Tutte le entità che finiscono per _battery","info":"","x":210,"y":160,"wires":[]},{"id":"d7a9dc5013ee5847","type":"comment","z":"7fc46a8f.2141b4","name":"Per ogni entità ricavo lo stato","info":"","x":480,"y":240,"wires":[]},{"id":"b9421fde053dcd38","type":"comment","z":"7fc46a8f.2141b4","name":"Faccio il check con il valore impostato su ha","info":"","x":170,"y":480,"wires":[]},{"id":"6a4a8ba394a2bb2d","type":"comment","z":"7fc46a8f.2141b4","name":"Prendo il valore HA impostato come limite di low battery","info":"","x":660,"y":40,"wires":[]},{"id":"1c722a5abdfc4c0c","type":"comment","z":"7fc46a8f.2141b4","name":"Esclusioni - Entità da non considerare","info":"","x":530,"y":480,"wires":[]},{"id":"2b798caaadf66bea","type":"comment","z":"7fc46a8f.2141b4","name":"Notifica per batteria in esaurimento","info":"","x":840,"y":480,"wires":[]},{"id":"a5437d5de6504ff4","type":"inject","z":"7fc46a8f.2141b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"10 15 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":250,"y":80,"wires":[["6bcdc56e069ff3a4"]]},{"id":"33257e95.f185a2","type":"server","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true}]